table, th, td {
    border: 0px solid black;
}

table th.table-amount {
    width: 200px;
    
}
table {
    width: 100%;
}
th{
    padding-bottom: 0.5em;
}

input {
    height: 25px;
    width: 150px;
    font-size: 18px;
}

label {
    display: block;
    border: 0.5px solid black;
    font-size: 18px;
    background-color: white;
    line-height: 30px;
    text-align: right;
    padding-right: 0.3em;
}

img {
    width: 200px;
    height: 80px;
}

#wrapper {
    text-align: center; 
    /* padding: 20px 50px; */ /* don't need the padding to make a header all the way on the top*/
    margin: 1em 26%;
    font: 100% Verdana;
}

.box {
    background-color: darkgray;
    border-radius: 20px;
}

.box-body{
    margin: 5px 20px 20px 20px; 
    background-color: lightgrey;
    padding: 1em 0.5em;
    border-radius: 20px;
}

.box-header{
    color: white;
    padding-top: 7px;
    text-transform: uppercase;
}

body {
    background-color: rgb(241, 221, 224);
}

.box-footer{
    padding-bottom: .15em  ;
    text-align: left;
    margin-left: 20px;
}